[alias]
    amend = commit --amend --no-edit
    history = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    unstage = reset HEAD --
[core]
    autocrlf = input
    editor = code --wait
[user]
    email = 11380394+jkmartindale@users.noreply.github.com
    name = James Martindale
[pull]
    rebase = true
[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
